{% extends 'base.html' %}

{% block content %}
    <h1 style="color:#46092E;" height="450px">{% block title %} Исследование восприятия носителями предложений с номинализацией в русском языке{% endblock %}</h1>
	<h3 style="color:#3E2233;"> <b>Номинализация</b> — это синтаксическое явление, при котором предложение трансформируется таким образом, что сказуемое-глагол переходит в существительное.</h3> 
	<h3 style="color:#3E2233;">Например: <i>читать книгу -> чтение книги, красить стену -> покраска стены.</i>
	Кстати, в заголовке исследования тоже присутствует номинализация :)</h3>
	<h4 style="color:#3E2233;"><b>Цель этого маленького исследования</b> — посмотреть, какие предложения с номинализацией кажутся носителям языка более правильными и нормальными, а какие — более странными. </h4>
	<h4 style="color:#3E2233;">На вопросы анкеты можно ответить, перейдя по ссылке "АНКЕТА" в верхнем меню <i>(обещаю, это совсем-совсем небольшая анкета)</i>. По ссылке "Статистика" можно посмотреть краткую сводку по информантам и их ответам.
	Когда исследование подойдёт к концу, на этом сайте появится раздел с выводами на основе полученных результатов.
	Чтобы они получились наиболее интересными и полными, отправьте ссылочку знакомым, которых это исследование может заинтересовать.
	Спасибо!</h4>
	<h5 style="color:#3E2233;"><i>P.S. Если у Вас есть какие-то вопросы по этому исследованию, а может быть даже комментарии или предложения, можете написать мне в телеграм: @mashakrivolap. Буду рада обсудить все возникшие вопросы :)</i></h5>
{% endblock %}

