{% extends 'base.html' %}

{% block content %}
    <h1 style="color:#46092E;">{% block title %} Статистика исследования {% endblock %}</h1>
	<h5 style="color:#46092E;">На этой страничке можно посмотреть, сколько людей прошли опрос; а также увидеть статистику по полу и возрасту. 
	Можно посмотреть и предварительные результаты по оцениванию предложений. 
	</h5>
	<body>
    <table class="table table-striped" style="color:#46092E;">
		<tr height="50px">
            <td >Количество информантов</td>
            <td>{{ all_info['total_count'] }}</td>
        </tr>
		<tr height="50px">
            <td >Количество женщин среди информантов</td>
            <td>{{ all_info['f'] }}</td>
        </tr>
		<tr height="50px">
            <td >Количество мужчин среди информантов</td>
            <td>{{ all_info['m'] }}</td>
        </tr>
        <tr height="50px">
            <td >Средний возраст информантов</td>
            <td>{{ all_info['age_mean'] }}</td>
        </tr>
        <tr height="50px">
            <td>Минимальный возраст</td>
            <td>{{ all_info['age_min'] }}</td>
        </tr>
        <tr height="50px">
            <td>Максимальный возраст</td>
            <td>{{ all_info['age_max'] }}</td>
        </tr>
        <tr height="50px">
            <td>Средняя оценка предложения 1 <i>(Её исполнение этой песни просто невероятно!)</i></td>
            <td>{{ all_info['q1_mean'] }}</td>
        </tr>
		<tr height="50px">
            <td>Средняя оценка предложения 2 <i>(Приготовление борща у неё так себе.)</i></td>
            <td>{{ all_info['q2_mean'] }}</td>
        </tr>
		<tr height="50px">
            <td>Средняя оценка предложения 3 <i>(Что-то составление учебным офисом расписания в последнее время никуда не годится.)</i></td>
            <td>{{ all_info['q3_mean'] }}</td>
        </tr>
		<tr height="50px">
            <td>Средняя оценка предложения 4 <i>(Тренер остался доволен Васиной пробежкой стометровки.)</i></td>
            <td>{{ all_info['q4_mean'] }}</td>
        </tr>
    </table>
</body>
{% endblock %}
